.content {
  width: 80%;
}
aside {
  width: 20%;
  min-width: 350px;
}
.container {
  max-width: 1920px;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: white;
}
.cart-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cart {
  position: relative;
}
.cart-count {
  position: absolute;
  background: #da002b;
  color: white;
  top: 0;
  right: 0;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.breadcrumbs {
  background-color: #da002b;
}
.breadcrumbs-list {
  height: 40px;
  display: flex;
  list-style: none;
  align-items: center;
  color: white;
  font-weight: 500;
  li {
    padding-left: 12rem;
  }
}
li > a {
  color: white;
  text-decoration: none;
}
.filter-title {
  font-weight: bold;
  margin-bottom: 25px;
  text-align: center;
}
.filter-list {
  label::first-letter {
    text-transform: uppercase;
  }
}
.filter-inner {
  padding: 10px;
}
.filter-buttons {
  display: flex;
  justify-content: space-around;
}
.reset,
.copy {
  background: #da002b;
  align-items: center;
  background-color: transparent;
  border: 2px solid rgb(218, 0, 43);
  border-radius: 8px;
  color: rgb(218, 0, 43);
  display: flex;
  font-size: 16px;
  font-weight: 500;
  height: 38px;
  justify-content: center;
  line-height: 24px;
  margin-left: 8px;
  padding: 8px;
}
.filter-block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  padding: 15px;
  margin: 10px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%), 0 6px 15px 0 rgb(0 0 0 / 10%);
}
.item {
  display: flex;
  justify-content: space-between;
}

.range-price,
.range-stock {
  width: 100%;
}

input[type='range'] {
  -webkit-appearance: none;
  margin: 5.8px 0;
  background-color: transparent !important;
}
input[type='range']:focus {
  outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
  cursor: pointer;
  background: #da002b;
  border-radius: 21.6px;
}
input[type='range']::-webkit-slider-thumb {
  border-radius: 28px;
  background: #da002b;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}
input[type='range']:focus::-webkit-slider-runnable-track {
  background: #da002b;
}

/* Track */
input[type='range']::-webkit-slider-runnable-track {
  height: 6.4px;
}

/* Thumb */
input[type='range']::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
}

/*Checkbox*/

.main-top {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sort,
.search {
  background: #da002b;
  align-items: center;
  background-color: transparent;
  border: 2px solid rgb(218, 0, 43);
  border-radius: 8px;
  color: rgb(218, 0, 43);
  display: flex;
  font-size: 16px;
  font-weight: 500;
  height: 38px;
  justify-content: center;
  line-height: 24px;
  margin-left: 8px;
  padding: 8px;
}
.search {
  box-sizing: border-box;
}
.view {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.products-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  grid-gap: 10px 10px;
}
.product {
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%), 0 6px 15px 0 rgb(0 0 0 / 10%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  .product-img {
    img {
      height: 147px;
    }
  }
}
.product-title {
  display: flex;
  justify-content: center;
}
.info {
  display: flex;
  justify-content: space-between;
}
.product-bottom {
  display: flex;
  justify-content: space-between;
}
.tocart,
.more {
  background: #da002b;
  align-items: center;
  background-color: transparent;
  border: 2px solid rgb(218, 0, 43);
  border-radius: 8px;
  color: rgb(218, 0, 43);
  display: flex;
  font-size: 16px;
  font-weight: 500;
  height: 38px;
  justify-content: center;
  margin-left: 8px;
  padding: 8px;
  transition: all 0.3s;

  &:hover {
    background: lightcoral;
    cursor: pointer;
    color: white;
  }
}
.active {
  background: rgb(243, 71, 71);
  color: white;
}
.footer-text {
  text-align: center;
}

#slider-price,
#slider-stock {
  height: 10px;
  .noUi-connect {
    background: #da002b;
  }
  .noUi-handle {
    height: 18px;
    width: 18px;
    top: -5px;
    right: -9px; /* half the width */
    border-radius: 9px;
  }
}
