ul,div,body,input,p,label{padding:0;margin:0}.d-none{display:none}body{font-family:"Rosario",sans-serif;font-size:16px;color:#2f4858;background-color:#fff}header{width:100%}main{min-height:70vh}.main{display:flex;justify-content:center}.content{width:80%}aside{width:20%}.container{max-width:1920px;margin:0 auto}.header{display:flex;justify-content:space-around;align-items:center;height:80px;background-color:#fff}.cart-block{display:flex;justify-content:space-around;align-items:center;gap:50px}.total-in-cart{display:flex;align-items:center;gap:30px}.total-price{font-size:26px;font-weight:700;color:#2f4858}.cart{position:relative}.cart-count{position:absolute;background:#da002b;color:#fff;top:0;right:0;border-radius:50%;width:18px;height:18px;display:flex;justify-content:center;align-items:center;font-size:14px}.breadcrumbs{background-color:#da002b}.breadcrumbs-list{height:40px;display:flex;list-style:none;justify-content:space-evenly;width:35%;align-items:center;color:#fff;font-weight:500}li>a{color:#fff;text-decoration:none}.filter-inner{padding:10px}.filter-buttons{display:flex;justify-content:space-around}.reset,.copy{background:#da002b;align-items:center;background-color:rgba(0,0,0,0);border:2px solid #da002b;border-radius:8px;color:#da002b;display:flex;font-size:16px;font-weight:500;height:38px;justify-content:center;line-height:24px;margin-left:8px;padding:8px}.filter-block{display:flex;justify-content:center;flex-direction:column;background-color:#fff;border-radius:20px;padding:15px;margin:10px;box-shadow:0 1px 2px 0 rgba(0,0,0,.1),0 6px 15px 0 rgba(0,0,0,.1)}.item{display:flex;justify-content:space-between}.range-price,.range-stock{width:100%}input[type=range]{-webkit-appearance:none;margin:5.8px 0;background-color:rgba(0,0,0,0) !important}input[type=range]:focus{outline:none}input[type=range]::-webkit-slider-runnable-track{cursor:pointer;background:#da002b;border-radius:21.6px}input[type=range]::-webkit-slider-thumb{border-radius:28px;background:#da002b;cursor:pointer;-webkit-appearance:none;margin-top:-6px}input[type=range]:focus::-webkit-slider-runnable-track{background:#da002b}input[type=range]::-webkit-slider-runnable-track{height:6.4px}input[type=range]::-webkit-slider-thumb{height:16px;width:16px}input[type=checkbox]:checked{accent-color:#da002b}input[type=checkbox]:checked+label{color:#da002b}.main-top{padding:10px;display:flex;justify-content:space-around;align-items:center}.sort,.search{background:#da002b;align-items:center;background-color:rgba(0,0,0,0);border:2px solid #da002b;border-radius:8px;color:#da002b;display:flex;font-size:16px;font-weight:500;height:38px;justify-content:center;line-height:24px;margin-left:8px;padding:8px}.search{box-sizing:border-box}.view{display:flex;justify-content:space-around;align-items:center}.products-list{display:flex;justify-content:space-around;flex-wrap:wrap;grid-gap:10px 10px}.product{padding:20px;background-color:#fff;border-radius:20px;box-shadow:0 1px 2px 0 rgba(0,0,0,.1),0 6px 15px 0 rgba(0,0,0,.1);display:flex;flex-direction:column;gap:10px}.product-title{display:flex;justify-content:center;width:220px;text-align:center;margin:0 auto}.info{display:flex;justify-content:space-between}.info .brand>span :last-child{width:145px}.product-bottom{display:flex;justify-content:space-between}.tocart,.more,.buy,#name,#tel,#address,#email,#card,#expcard,#cvv,.limit,.promo-code{background:#da002b;align-items:center;background-color:rgba(0,0,0,0);border:2px solid #da002b;border-radius:8px;color:#da002b;display:flex;font-size:16px;font-weight:500;height:38px;justify-content:center;margin-left:8px;padding:8px}footer{padding:10px}.footer-text{text-align:center;margin:1em 0}.product-content{padding:20px 40px}.product-content-inner{display:flex;flex-wrap:wrap;box-shadow:0 1px 2px 0 rgba(0,0,0,.1),0 6px 15px 0 rgba(0,0,0,.1);border-radius:20px;justify-content:space-evenly;max-width:1000px}.product-title{flex-basis:100%}.product-title>h1{font-size:36px;margin:15px;color:#2f4858;border-bottom:solid 2px #ce1111;width:100%;text-align:center;padding:10px}.image-block{padding:15px;display:flex;flex-direction:column;justify-content:space-evenly}.product-image>img{width:360px;border-radius:20px}.product-thumnails>img{width:60px;border-radius:5px}.product-info-block{padding:15px;display:flex;flex-direction:column;gap:15px;flex-basis:33%}.item-title{border-bottom:solid 1px #e6aaaa;font-weight:700;margin-bottom:5px}.add-to-cart{display:flex;flex-direction:column;justify-content:center;gap:25px;text-align:center}.total-block-discount{display:none}.total,.total-discount{font-size:20px;color:#2f4858;font-weight:700}.modal{padding:20px 40px;max-width:500px;position:absolute;transform:translate(-50%, -50%);top:50%;left:50%;box-shadow:0 1px 2px 0 rgba(0,0,0,.1),0 6px 15px 0 rgba(0,0,0,.1);border-radius:20px;display:flex;flex-direction:column;padding:40px;gap:15px;width:100%;background-color:#fff;max-width:400px;display:none;z-index:2}.modal-block{position:relative;display:flex}#name,#tel,#address,#email,#card,#expcard,#cvv{box-sizing:border-box;margin:0;position:relative;width:100%}.fa-circle-exclamation{position:absolute;right:5px;top:50%;transform:translateY(-50%);color:#da002b}.modal-block>i{display:none}.card-info{display:flex;flex-direction:column;align-items:center;max-width:350px;gap:18px;margin:0 40px}.card-info-title{font-size:20px;color:#2f4858;font-weight:700}.card-block{display:flex;width:100%;gap:10px}.card-block>img{width:40px}.private-data{display:flex;justify-content:space-evenly;width:100%;text-align:center}#card{width:100%}#expcard,#cvv{width:90px}input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{-webkit-appearance:none;margin:0}.confirm-block{display:flex;justify-content:center;padding-top:20px}.confirm{align-items:center;background:#da002b;border:1px solid #f2f2f2;border-radius:12px;color:#fff;display:flex;font-size:14px;font-weight:500;justify-content:center;line-height:20px;padding:10px 24px;text-align:center;text-transform:uppercase}.pop-up-bg{height:100%;width:100%;position:fixed;z-index:1;background:#000;opacity:.5;top:0;display:none}h1{color:#2f4858}.products-cart{width:70%}.cart-details{width:30%;padding:20px 0}.cart-details-inner{text-align:center;display:flex;flex-direction:column;align-items:center;justify-content:space-evenly;box-shadow:0 1px 2px 0 rgba(0,0,0,.1),0 6px 15px 0 rgba(0,0,0,.1);border-radius:15px;padding:25px;gap:15px;width:75%}.cart-details-inner>h3{font-size:26px;color:#2f4858;margin:0;border-bottom:solid 2px #ce1111;width:100%}.promo-block-do-active,.promo-block-active,.promo-block-active-inner{display:flex;justify-content:space-around;align-items:center;flex-wrap:wrap;gap:10px}.promo-block-do-active,.promo-block-active{display:none}.acitve-promos{border-bottom:solid 1px #ce1111}.products-cart-top{display:flex;align-items:center;justify-content:space-evenly}.page-block{display:flex;justify-content:space-around;align-items:center;width:20%}.arrow,.minus,.plus,.promo-code-active,.promo-code-deactive{background:#da002b;border:1px solid #f2f2f2;border-radius:10px;color:#fff;font-size:14px;font-weight:500;padding:10px 10px}.minus,.plus{width:29px}.product-block{display:flex;justify-content:space-around;padding:10px;margin:15px 20px;box-shadow:0 1px 2px 0 rgba(0,0,0,.1),0 6px 15px 0 rgba(0,0,0,.1);border-radius:25px}.page,.num{display:flex;justify-content:center;align-items:center;width:10%;color:#2f4858}.product-block>img{width:130px;padding:5px 10px;border-radius:20px}.product-card{display:flex;flex-direction:column;justify-content:space-between;width:70%;padding:5px 10px}.product-card>h3{margin:0;border-bottom:solid 1px #ce1111}.product-card-desc{display:flex;justify-content:center;align-items:center}.rating-block,.discount-block{color:#c40563}.product-card-other{display:flex;justify-content:space-evenly}.stock-block{display:flex;flex-direction:column;justify-content:space-between;align-items:stretch;width:20%;padding:5px 10px;gap:5px}.product-card-title,.stock,.amount{display:flex;justify-content:center}.stock-control{display:flex;justify-content:space-around;align-items:center}.limit-block{display:flex;align-items:center}.limit,.promo-code{height:14px}.limit{max-width:100px}.amount{font-size:18px;font-weight:700}
.content{width:80%}aside{width:20%;min-width:350px}.container{max-width:1920px;margin:0 auto}.header{display:flex;justify-content:space-around;align-items:center;height:80px;background-color:#fff}.cart-block{display:flex;justify-content:space-around;align-items:center}.cart{position:relative}.cart-count{position:absolute;background:#da002b;color:#fff;top:0;right:0;border-radius:50%;width:18px;height:18px;display:flex;justify-content:center;align-items:center;font-size:14px}.breadcrumbs{background-color:#da002b}.breadcrumbs-list{height:40px;display:flex;list-style:none;justify-content:space-evenly;width:35%;align-items:center;color:#fff;font-weight:500}li>a{color:#fff;text-decoration:none}.filter-title{font-weight:bold;margin-bottom:25px;text-align:center}.filter-list label::first-letter{text-transform:uppercase}.filter-inner{padding:10px}.filter-buttons{display:flex;justify-content:space-around}.reset,.copy{background:#da002b;align-items:center;background-color:rgba(0,0,0,0);border:2px solid #da002b;border-radius:8px;color:#da002b;display:flex;font-size:16px;font-weight:500;height:38px;justify-content:center;line-height:24px;margin-left:8px;padding:8px}.filter-block{display:flex;justify-content:center;flex-direction:column;background-color:#fff;border-radius:20px;padding:15px;margin:10px;box-shadow:0 1px 2px 0 rgba(0,0,0,.1),0 6px 15px 0 rgba(0,0,0,.1)}.item{display:flex;justify-content:space-between}.range-price,.range-stock{width:100%}input[type=range]{-webkit-appearance:none;margin:5.8px 0;background-color:rgba(0,0,0,0) !important}input[type=range]:focus{outline:none}input[type=range]::-webkit-slider-runnable-track{cursor:pointer;background:#da002b;border-radius:21.6px}input[type=range]::-webkit-slider-thumb{border-radius:28px;background:#da002b;cursor:pointer;-webkit-appearance:none;margin-top:-6px}input[type=range]:focus::-webkit-slider-runnable-track{background:#da002b}input[type=range]::-webkit-slider-runnable-track{height:6.4px}input[type=range]::-webkit-slider-thumb{height:16px;width:16px}.main-top{padding:10px;display:flex;justify-content:space-around;align-items:center}.sort,.search{background:#da002b;align-items:center;background-color:rgba(0,0,0,0);border:2px solid #da002b;border-radius:8px;color:#da002b;display:flex;font-size:16px;font-weight:500;height:38px;justify-content:center;line-height:24px;margin-left:8px;padding:8px}.search{box-sizing:border-box}.view{display:flex;justify-content:space-around;align-items:center}.products-list{display:flex;justify-content:space-around;flex-wrap:wrap;grid-gap:10px 10px}.product{padding:20px;background-color:#fff;border-radius:20px;box-shadow:0 1px 2px 0 rgba(0,0,0,.1),0 6px 15px 0 rgba(0,0,0,.1);display:flex;flex-direction:column;gap:10px}.product .product-img img{height:147px}.product-title{display:flex;justify-content:center}.info{display:flex;justify-content:space-between}.product-bottom{display:flex;justify-content:space-between}.tocart,.more{background:#da002b;align-items:center;background-color:rgba(0,0,0,0);border:2px solid #da002b;border-radius:8px;color:#da002b;display:flex;font-size:16px;font-weight:500;height:38px;justify-content:center;margin-left:8px;padding:8px;transition:all .3s}.tocart:hover,.more:hover{background:#f08080;cursor:pointer;color:#fff}.footer-text{text-align:center}#slider-price,#slider-stock{height:10px}#slider-price .noUi-connect,#slider-stock .noUi-connect{background:#da002b}#slider-price .noUi-handle,#slider-stock .noUi-handle{height:18px;width:18px;top:-5px;right:-9px;border-radius:9px}
footer{border:1px solid #fff;padding:10px}
/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.noUi-target {
  position: relative;
}
.noUi-base,
.noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
/* Wrapper for all connect elements.
 */
.noUi-connects {
  overflow: hidden;
  z-index: 0;
}
.noUi-connect,
.noUi-origin {
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  transform-style: flat;
}
/* Offset direction
 */
.noUi-txt-dir-rtl.noUi-horizontal .noUi-origin {
  left: 0;
  right: auto;
}
/* Give origins 0 height/width so they don't interfere with clicking the
 * connect elements.
 */
.noUi-vertical .noUi-origin {
  top: -100%;
  width: 0;
}
.noUi-horizontal .noUi-origin {
  height: 0;
}
.noUi-handle {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}
.noUi-touch-area {
  height: 100%;
  width: 100%;
}
.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s;
}
.noUi-state-drag * {
  cursor: inherit !important;
}
/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 18px;
}
.noUi-horizontal .noUi-handle {
  width: 34px;
  height: 28px;
  right: -17px;
  top: -6px;
}
.noUi-vertical {
  width: 18px;
}
.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  right: -6px;
  bottom: -17px;
}
.noUi-txt-dir-rtl.noUi-horizontal .noUi-handle {
  left: -17px;
  right: auto;
}
/* Styling;
 * Giving the connect element a border radius causes issues with using transform: scale
 */
.noUi-target {
  background: #FAFAFA;
  border-radius: 4px;
  border: 1px solid #D3D3D3;
  box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
}
.noUi-connects {
  border-radius: 3px;
}
.noUi-connect {
  background: #3FB8AF;
}
/* Handles and cursors;
 */
.noUi-draggable {
  cursor: ew-resize;
}
.noUi-vertical .noUi-draggable {
  cursor: ns-resize;
}
.noUi-handle {
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #FFF;
  cursor: default;
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
}
.noUi-active {
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB;
}
/* Handle stripes;
 */
.noUi-handle:before,
.noUi-handle:after {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #E8E7E6;
  left: 14px;
  top: 6px;
}
.noUi-handle:after {
  left: 17px;
}
.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px;
}
.noUi-vertical .noUi-handle:after {
  top: 17px;
}
/* Disabled state;
 */
[disabled] .noUi-connect {
  background: #B8B8B8;
}
[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
  cursor: not-allowed;
}
/* Base;
 *
 */
.noUi-pips,
.noUi-pips * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.noUi-pips {
  position: absolute;
  color: #999;
}
/* Values;
 *
 */
.noUi-value {
  position: absolute;
  white-space: nowrap;
  text-align: center;
}
.noUi-value-sub {
  color: #ccc;
  font-size: 10px;
}
/* Markings;
 *
 */
.noUi-marker {
  position: absolute;
  background: #CCC;
}
.noUi-marker-sub {
  background: #AAA;
}
.noUi-marker-large {
  background: #AAA;
}
/* Horizontal layout;
 *
 */
.noUi-pips-horizontal {
  padding: 10px 0;
  height: 80px;
  top: 100%;
  left: 0;
  width: 100%;
}
.noUi-value-horizontal {
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
}
.noUi-rtl .noUi-value-horizontal {
  -webkit-transform: translate(50%, 50%);
  transform: translate(50%, 50%);
}
.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}
.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px;
}
.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}
/* Vertical layout;
 *
 */
.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%;
}
.noUi-value-vertical {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding-left: 25px;
}
.noUi-rtl .noUi-value-vertical {
  -webkit-transform: translate(0, 50%);
  transform: translate(0, 50%);
}
.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px;
}
.noUi-marker-vertical.noUi-marker-sub {
  width: 10px;
}
.noUi-marker-vertical.noUi-marker-large {
  width: 15px;
}
.noUi-tooltip {
  display: block;
  position: absolute;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}
.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}
.noUi-vertical .noUi-tooltip {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 50%;
  right: 120%;
}
.noUi-horizontal .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(50%, 0);
  transform: translate(50%, 0);
  left: auto;
  bottom: 10px;
}
.noUi-vertical .noUi-origin > .noUi-tooltip {
  -webkit-transform: translate(0, -18px);
  transform: translate(0, -18px);
  top: auto;
  right: 28px;
}

