ul,div,body{
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Rosario', sans-serif;
  font-size: 16px;
  color: #050505;
  background-color: #f2f2f2;
}
header{
  width: 100%;
}
.main{
  display: flex; 
 }

.content{
  width: 80%;
}
aside{
  width: 20%;
}
.container{
  max-width: 1920px;
  margin: 0 auto;
}
.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: aqua;
}
.cart-block{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 150px;
}
.cart{
  position: relative;
}
.cart-count{
  position: absolute;
  background: yellow;
  top: 2px;
  right: 2px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.breadcrumbs{
  background-color: lightgrey;
}
.breadcrumbs-list{
  height: 40px;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  width: 35%;
  align-items: center;
}
.filter-inner{
  padding: 10px;
}
.filter-buttons{
  display: flex;
  justify-content: space-around;
}
.filter-block{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  padding: 15px;
  margin: 10px;
}
.item{
  display: flex;
  justify-content: space-between;
}

.main-top{
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.view{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.products-list{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  grid-gap: 10px 10px;
}
.product{
  padding: 20px;
  background-color: white;
  border-radius: 20px;
}
.product-title{
  display: flex;
  justify-content: center;
}
.info{
  display: flex;
  justify-content: space-between;
}