ul,div,body{
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Rosario', sans-serif;
  font-size: 16px;
  color: #050505;
  background-color: #f2f2f2;
}
header{
  width: 100%;
}
.content{
  display: flex;
}
aside{
  width: 20%;
}
main{
  width: 80%;
}
.container{
  max-width: 1920px;
  margin: 0 auto;
}
.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: aqua;
}
.cart-block{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 150px;
}
.cart{
  position: relative;
}
.cart-count{
  position: absolute;
  background: yellow;
  top: 2px;
  right: 2px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.breadcrumbs{
  background-color: lightgrey;
}
.breadcrumbs-list{
  height: 40px;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  width: 35%;
  align-items: center;
}